<table mat-table [dataSource]="dataSource" >

    <ng-container matColumnDef="ssid">
      <th mat-header-cell *matHeaderCellDef> SSID </th>
      <td mat-cell *matCellDef="let element"> {{element.ssid}} </td>
    </ng-container>
    <ng-container matColumnDef="mac">
        <th mat-header-cell *matHeaderCellDef> MAC </th>
        <td mat-cell *matCellDef="let element"> {{element.mac}} </td>
      </ng-container>
  

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let i = index">
        <button style="border-radius: 20px; background-color: black; color: white;"  (click)="connectclick(i)"  mat-raised-button color="none" >Connect</button> </td>
    </ng-container>
 
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
