<!-- <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>


<div class="container-fluid" id="body"> -->
<!-- <img src="/assets/images/phone.png" id="phone" width="1260px"> -->
<!-- <div class="inputfield">
<label style=" position: absolute; top: 35%; left: 43%;">Enter SSID</label>
<input type="text" placeholder="SSID" style=" position: absolute; top: 40%; left: 43%; width: 160px;">
<label style=" position: absolute; top: 55%; left: 43%;">Enter password</label>
<input type="text" placeholder="Password" style=" position: absolute; top: 60%; left: 43%; width: 160px;">
<button (click)="load()">SEARCH</button>
</div>
</div> -->


<router-outlet></router-outlet>
